
.header{
    width: 100%;
    height: 110px;
    background-color:  #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 25%;
    
}

.logo{
    width: 200px;
    height: auto;
}

p{
    margin: 0%;
}

.greytext{
    color:#808080;
    margin: 0%;
}

a{
    text-decoration: none;
    color: #20A9E5;
}